In [97]:
#Test to get yearly average for gold price data

import pandas as pd
import numpy as np

gold_prices = pd.read_csv('archive/Gold Price (2013-2023).csv')
gold_prices.head()

         Date     Price      Open      High       Low     Vol. Change %
0  12/30/2022  1,826.20  1,821.80  1,832.40  1,819.80  107.50K    0.01%
1  12/29/2022  1,826.00  1,812.30  1,827.30  1,811.20  105.99K    0.56%
2  12/28/2022  1,815.80  1,822.40  1,822.80  1,804.20  118.08K   -0.40%
3  12/27/2022  1,823.10  1,808.20  1,841.90  1,808.00  159.62K    0.74%
4  12/26/2022  1,809.70  1,805.80  1,811.95  1,805.55      NaN    0.30%

In [103]:
gold_prices['Year'] = pd.DatetimeIndex(gold_prices['Date']).year
#print(gold_prices.head())
percentages = gold_prices['Change %']
print(gold_prices['Change %'].dtype)
#gold_prices['Change %'] = gold_prices['Change %'].str.replace(r'%', r'').astype('float')/100
gold_prices['Change %']  = pd.to_numeric(gold_prices['Change %'], errors='coerce').fillna(s)
gold_prices['Price'] = pd.to_numeric(gold_prices['Price'], errors='coerce').fillna(s)
#gold_prices['Price'] = gold_prices['Price'] * 100
#print (s)
print(gold_prices.head())
#decimal_list = [p / 100 for p in percentages]
#average_decimal = np.mean(decimal_list)
#average_percentage = average_decimal * 100
#average_percentage
#change_rate = gold_prices.groupby(['Year'])['Change %'].mean()
#price = gold_prices.groupby(['Year'])['Price'].mean()
#change_rate
gold_prices_yearly_avg_dict = ({'Change %': change_rate, 'Price': price})
gold_prices_yearly_avg_df = pd.DataFrame(gold_prices_yearly_avg_dict)
gold_prices_yearly_avg_df

float64
         Date   Price      Open      High       Low     Vol.  Change %  Year
0  12/30/2022  0.0001  1,821.80  1,832.40  1,819.80  107.50K    0.0001  2022
1  12/29/2022  0.0056  1,812.30  1,827.30  1,811.20  105.99K    0.0056  2022
2  12/28/2022 -0.0040  1,822.40  1,822.80  1,804.20  118.08K   -0.0040  2022
3  12/27/2022  0.0074  1,808.20  1,841.90  1,808.00  159.62K    0.0074  2022
4  12/26/2022  0.0030  1,805.80  1,811.95  1,805.55      NaN    0.0030  2022

      Change %     Price
Year
2013 -0.001192 -0.001192
2014 -0.000018 -0.000018
2015 -0.000385 -0.000385
2016  0.000376  0.000376
2017  0.000522  0.000522
2018 -0.000055 -0.000055
2019  0.000697  0.000697
2020  0.000932  0.000932
2021 -0.000099 -0.000099
2022  0.000036  0.000036